
// Base colors
$color-primary: hsl(127, 65%, 42%); // #25B135
$color-primary-dark: hsl(127, 42%, 35%); // #3EA34A
$color-primary-light: hsl(127, 42%, 46%); // #189E27
$brand-color-gray: #373737;

// Shades of gray
$color-gray-11: #1d1d21;
$color-gray-10: #2e2e31;
$color-gray-6:  #7b7a7d;
$color-gray-4:  #a5a5a6;
$color-gray-3:  #bbbbbc;
$color-gray-2:  #d1d0d2;
$color-gray-1:  #e8e7e8;
$color-gray-0:  #f2f2f2;

// Auxiliary colors
$color-red-1: hsl(1, 68%, 52%);
$color-red-2: hsl(1, 80%, 66%);
$color-red-3: hsl(1, 100%, 76%);

$color-orange-1: hsl(27, 100%, 58%);
$color-orange-2: hsl(27, 100%, 43%);

$color-yellow-1: hsl(42, 100%, 53%);
$color-yellow-2: hsl(42, 90%, 75%);

$color-green-1: hsl(123, 22%, 81%);
$color-green-2: hsl(123, 19%, 66%);
$color-green-3: hsl(123, 22%, 49%);
$color-green-4: hsl(123, 80%, 41%);

$color-blue-1: hsl(194, 64%, 82%);
$color-blue-2: hsl(194, 34%, 56%);
$color-blue-3: hsl(194, 51%, 56%);
$color-blue-4: hsl(194, 70%, 40%);
$color-blue-5: hsl(194, 80%, 21%);

$color-blue-6: hsl(181, 60%, 43%);


.root {
    -bs-color-primary: $color-primary;
    -bs-color-primary-light: $color-primary-light;
    -bs-color-primary-dark: $color-primary-dark;
    -bs-color-gray: $brand-color-gray;

    -bs-red: $color-red-1;
    -bs-soft-red: $color-red-2;
    -bs-pink: $color-red-3;
    -bs-orange: $color-orange-1;
    -bs-orange2: $color-orange-2;
    -bs-yellow: $color-yellow-1;
    -bs-yellow-light: $color-yellow-2;
    -bs-green-alt: $color-green-4;
}
